body {
  margin: 50px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.room {
	margin-right:5px;
	width:auto;
	background-color:#70ab00;
	height:20px;
	text-align:center;
	display: inline-block;
	padding:3px;
	margin-bottom:0px;
	border: 1px solid black;
}

.box {
	margin:0px;
	border: 1px solid black;


}

.left {
	padding:5px;
	border-right: 1px solid black;


}
