extends layout

block content
  h1= coucou
  p
  b #{title} Chat
  div(class="section group", id="rooms")

 
  div(class="section group box")
    div(class="col span_2_of_12 left")
      img(src="images/add_friend.png")
      span Invite Friends
      |<hr />
      div(id="peoples_room")
    div(class="col span_10_of_12")
      div(id="messages_room")


