extends layout

block content
  h2
    b(id="title") #{title} Chat
  div(style="height:100%")
    div(class="section group")
      div(id="settings_tab", class="col span_1_of_12 room",onclick="view.setting.show()") Settings
      div(id="rooms")
      div(id="create_tab", class="col span_1_of_12 room", style="padding:0px;height:30px")
        input(id="create_room",style="height:18px;width:100px")
 
    div(class="section group",id="box")
      div(id="left_box",class="col span_2_of_12 left scroll")
        div(style="padding:5px")
          img(src="images/add_friend.png")
          span Invite Friends
          |<hr />
          div(id="peoples_room")
          |<hr />
          span Autre
      div(class="col span_10_of_12",id="messages")
        div(id="messages_room")
      div(class="col span_12_of_12",id="settings_manager")
        <br /><br /> 
        span Tab : 
        input(type="color",id="color_tab",onchange="view.setting.color.update.tab()")
        <br /><br />Notification : 
        input(type="color",id="color_notify",onchange="view.setting.color.update.notification()")
        <br /><br />Selected : 
        input(type="color",id="color_selected",onchange="view.setting.color.update.selected()")
        <br /><br /><hr />
        div(id="user_form")
          span Utilisateur :<br /> 
          input(type="text",id="username")
        <br /><br />Type transfert :<br /><br /> 
        input(type="radio",value="polling",name="method")
        span Polling<br />
        input(type="radio",value="long",name="method")
        span Long Polling<br />
        input(type="radio",value="push",name="method")
        span Push<br />
        <br />
        input(type="submit",onclick="view.form.logIn()")
    div(style="margin-top:5px;",id="input_message")
      input(id="message",style="width:80%")



