doctype html
html
  head
    title= title
    script(src='javascripts/communicator.js')
    script(src='vendor/jquery.min.js')
    link(rel='stylesheet', href='vendor/grid.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

  script(src='javascripts/script.js')
  script(src='javascripts/communicator.js')
